pipeline/Sql_Adls_2025_Data.json
{
	"name": "Sql_Adls_2025_Data",
	"properties": {
		"activities": [
			{
				"name": "Lookup_meta_sql",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable12",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_meta_sql",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_meta_sql').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@item().Source_Query",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSqlTable13",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": {
											"value": "@item().LandingSchema",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().LandingTable",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DelimitedText4",
									"type": "DatasetReference",
									"parameters": {
										"DirectoryName": {
											"value": "@item().Adls_Location",
											"type": "Expression"
										},
										"FileName": {
											"value": "@concat(replace(item().FileName, '.csv', '_2025.csv'))",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"Year": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-04-28T11:42:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}